---
layout: pages.hbs
---

<style type="text/css">

    .no-conflict-library-heading___ {
        display: block;
        padding: 10px 5px;
        margin: 0 0 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        line-height: normal;
        color: #333;
        background: #d9edf7;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

</style>

<div class="no-conflict-library-heading___">Headings</div>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<div class="no-conflict-library-heading___">Body text</div>

<div>Body text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec. Praesent orci orci, feugiat in mauris in, scelerisque suscipit ex. Aenean sed rutrum ex. Nulla non feugiat velit. Proin feugiat, enim non pellentesque feugiat, massa leo rhoncus nisi, in fermentum sapien metus quis magna.</div>

<br>

<div><a href="#">Link text</a></div>

<br>

<div>Bold text test: <strong>this text is &lt;strong&gt;</strong>, and <b>this text is &lt;b&gt;</b>.</div>

<br>

<div>Italic text test: <em>this text is &lt;em&gt;</em>, and <i>this text is &lt;i&gt;</i>.</div>

<br>

<div>Underline text test: <u>this text is &lt;u&gt;</u>.</div>

<br>

<div>Small text test: <small>this text is &lt;small&gt;</small>.</div>

<br>

<div>Marked text test: You can use the mark tag to <mark>highlight</mark> text..</div>

<br>

<div>Deleted text test: <del>This line of text is meant to be treated as deleted text.</del>.</div>

<br>

<div>Strikethrough text test: <s>This line of text is meant to be treated as no longer accurate.</s>.</div>

<br>

<div>Inserted text test: <ins>This line of text is meant to be treated as an addition to the document.</ins>.</div>

<div class="no-conflict-library-heading___">Paragraphs</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec. Praesent orci orci, feugiat in mauris in, scelerisque suscipit ex. Aenean sed rutrum ex. Nulla non feugiat velit. Proin feugiat, enim non pellentesque feugiat, massa leo rhoncus nisi, in fermentum sapien metus quis magna.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec. Praesent orci orci, feugiat in mauris in, scelerisque suscipit ex. Aenean sed rutrum ex. Nulla non feugiat velit. Proin feugiat, enim non pellentesque feugiat, massa leo rhoncus nisi, in fermentum sapien metus quis magna.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec. Praesent orci orci, feugiat in mauris in, scelerisque suscipit ex. Aenean sed rutrum ex. Nulla non feugiat velit. Proin feugiat, enim non pellentesque feugiat, massa leo rhoncus nisi, in fermentum sapien metus quis magna.</p>

<div class="no-conflict-library-heading___">Lists</div>

<ul>
    <li>Unordered list item 1</li>
    <li>Unordered list item 2</li>
    <li>Unordered list item 3</li>
    <li>Unordered list item 4</li>
    <li>Unordered list item 5</li>
</ul>

<ol>
    <li>Ordered list item 1</li>
    <li>Ordered list item 2</li>
    <li>Ordered list item 3</li>
    <li>Ordered list item 4</li>
    <li>Ordered list item 5</li>
</ol>

<dl>
    <dt>Definition list term 1</dt>
    <dd>Definition list definition 1a</dd>
    <dd>Definition list definition 1b</dd>
    <dd>Definition list definition 1c</dd>

    <dt>Definition list term 2</dt>
    <dd>Definition list definition 2a</dd>

    <dt>Definition list term 3</dt>
    <dd>Definition list definition 3a</dd>
</dl>

<div class="no-conflict-library-heading___">Horizontal Rule</div>

<div>Text before rule.</div>
<hr>
<div>Text after rule.</div>

<div class="no-conflict-library-heading___">Form Elements</div>

<form>
    <fieldset>

        <legend>This is the legend</legend>

        Empty &lt;fieldset&gt; with legend

    </fieldset>
    <fieldset>
        <div>Fieldset without legend</div>

        <br>

        <label>Label element</label>

        <br>

        <div>input[type="text"] <input type="text"></div>
        <div>input[type="text"] (with placeholder) <input type="text" value="" placeholder="Placeholder example"></div>
        <div>input[type="text"] (with value) <input type="text" value="Value example"></div>
        <div>input[type="text"] (disabled) <input type="text" disabled></div>
        <div>input[type="text"] (readonly) <input type="text" readonly></div>

        <br>

        <div>input[type="url"] <input type="url"></div>
        <div>input[type="search"] <input type="search"></div>
        <div>input[type="number"] <input type="number"></div>
        <div>input[type="tel"] <input type="tel"></div>
        <div>input[type="date"] <input type="date"></div>
        <div>input[type="range"] <input type="range"></div>

        <br>

        <div>input[type="file"] <input type="file"></div>

        <br>

        <div>input[type="radio"] <input type="radio"></div>
        <div>input[type="checkbox"] <input type="checkbox"></div>

        <br>

        <div>textarea <textarea></textarea></div>
        <div>textarea (with placeholder) <textarea placeholder="Placeholder example"></textarea></div>
        <div>textarea (with value) <textarea>Value example</textarea></div>

        <br>

        <div>select 
            <select>
                <option value=""></option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>

        <div>input[type="submit"] <input type="submit" value="Submit"></div>
        <div>button <button>Button</button></div>

    </fieldset>
</form>

<div class="no-conflict-library-heading___">Blockquote</div>

<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec. Praesent orci orci, feugiat in mauris in, scelerisque suscipit ex. Aenean sed rutrum ex. Nulla non feugiat velit. Proin feugiat, enim non pellentesque feugiat, massa leo rhoncus nisi, in fermentum sapien metus quis magna.</p>
</blockquote>

<div class="no-conflict-library-heading___">Code</div>

<code>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus odio diam, nec laoreet libero fermentum nec.</code>

<div class="no-conflict-library-heading___">Tables</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="no-conflict-library-heading___">Images</div>

<img src="http://placehold.it/350x150">

<div class="no-conflict-library-heading___">Address</div>

<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<script src="/docs-assets/js/iframeResizer.contentWindow.js"></script>
