    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width">

    <title>{{ or title package.name }}</title>
    <meta name="description" content="{{ description }}">
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp/www/pages) ../styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.tmp/www/pages) ../scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
