---

layout: components.hbs
component: true

name: Media Block (example)
description: This block shows a title, brief description and thumbnail.

---

<div>START DEMO:</div>

<div class="media-block">
    <div class="media-block__title">Lorem ipsum sit dolor amet</div>
    <div class="media-block__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus libero dolor, vel dapibus ante posuere vel. Curabitur vel sapien ac felis mattis consequat ac faucibus nulla. Sed cursus arcu eu lorem interdum, in imperdiet justo pharetra. Fusce sit amet egestas enim. Vivamus eu faucibus massa, in finibus libero. Fusce nec lorem risus. In non porta dolor, at sodales eros. Donec elementum congue erat. Nullam justo purus, aliquam ut maximus a, molestie eget tortor.</div>
    <div class="media-block__avatar">
        <img src="http://placehold.it/100x100" alt="" class="media-block__avatar-img">
    </div>
</div>

<div class="media-block">
    <div class="media-block__title">Lorem ipsum sit dolor amet</div>
    <div class="media-block__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus libero dolor, vel dapibus ante posuere vel. Curabitur vel sapien ac felis mattis consequat ac faucibus nulla. Sed cursus arcu eu lorem interdum, in imperdiet justo pharetra. Fusce sit amet egestas enim. Vivamus eu faucibus massa, in finibus libero. Fusce nec lorem risus. In non porta dolor, at sodales eros. Donec elementum congue erat. Nullam justo purus, aliquam ut maximus a, molestie eget tortor.</div>
    <div class="media-block__avatar">
        <img src="http://placehold.it/100x100" alt="" class="media-block__avatar-img">
    </div>
</div>

<div class="media-block">
    <div class="media-block__title">Lorem ipsum sit dolor amet</div>
    <div class="media-block__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus libero dolor, vel dapibus ante posuere vel. Curabitur vel sapien ac felis mattis consequat ac faucibus nulla. Sed cursus arcu eu lorem interdum, in imperdiet justo pharetra. Fusce sit amet egestas enim. Vivamus eu faucibus massa, in finibus libero. Fusce nec lorem risus. In non porta dolor, at sodales eros. Donec elementum congue erat. Nullam justo purus, aliquam ut maximus a, molestie eget tortor.</div>
    <div class="media-block__avatar">
        <img src="http://placehold.it/100x100" alt="" class="media-block__avatar-img">
    </div>
</div>

<div>/ END DEMO</div>
