---
layout: pages.hbs
template: true
order: 4

id: T3.1
name: Template 3.1
status: Work in progress
developer: Davide
notes:

title: Page title
description: This goes in the meta description

---

{{> global-header }}

<div class="wrapper">

    <div class="hero-unit">
        <h1>Work in progress</h1>
    </div>

</div>

{{> global-footer }}

{{> global-scripts }}

