---
layout: pages.hbs
template: true
order: 3

id: T3
name: Template 3
status: Work in progress
developer: Sandro
notes:

title: Page title
description: This goes in the meta description

---

{{> global-header }}

<div class="wrapper">

    <div class="hero-unit">
        <h1>Work in progress</h1>

        <h2>Unclosed tag
    </div>

</div>

{{> global-footer }}

{{> global-scripts }}

