// ****************************
//
//  VARIABLES
//
// ****************************

//
//
//  FONTS
//
//

$default-font-size:             18px;
$default-font-family:           Arial, Helvetica, sans-serif;

//
//
//  LAYOUT
//
//

$wrapper-width:                 968px;
$gutter:                        20px;

//
//
//  COLOURS
//
//

$color-1:                       #000; // black

